@import "reset";
@import "variables";
@import "bootstrap-grid.min";
@import "icon/iconfont";

.main {
    display: flex;
    height: 100vh;
}

.menu {
    background: $color_default;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    align-items: center;

    a.menu_btn {
        @include animation;
        background: rgba(255, 255, 255, 0.20);
        color: #fff;
        font-size: 1.3rem;
        display: block;
        margin-bottom: 1.3rem;
        border-radius: 50px;
        font-weight: bold;
        padding: 0.75rem;
        writing-mode: vertical-rl;
        letter-spacing: 2px;
        &.active,&:hover {
            background: #fff;
            color: $color_default;
        }
    }
}

.content {
    width: 70%;
    background: #F5F5F5;

    .status {
        background: #fff;

        ul {
            display: flex;
            text-align: center;

            li {
                width: 100%;
                padding: .7rem;

                &.active {
                    border-bottom: 2px solid $color_default;
                    color: $color_default;
                    font-weight: bold;
                }
            }
        }
    }

    .order {
        padding: .7rem;

        .item {
            @include animation;
            position: relative;
            background: #fff;
            border-radius: 15px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
            bottom: 0;
            &:hover {
                bottom: 10px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
            }
        }

        .info {
            padding: 0.75rem;

            h3 {
                font-weight: bold;
                color: #000;
                margin-bottom: 0.5rem;
                border-bottom: 1px solid rgb(230, 230, 230);
                font-size: 1.2rem;
                padding-bottom: 0.5rem;
            }
        }

        .order_status {
            padding: 0.75rem;
            text-align: center;
            font-weight: bold;
            background: $color_default;
            color: #fff;
            border-radius: 0 0 15px 15px;
            letter-spacing: 2px;
        }
    }
}

.detail {
    width: 30%;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title {
        h2 {
            padding: .7rem;
            background: $color_default;
            color: #fff;
            text-align: center;
            font-weight: bold;
        }
    }
    .customer {
        padding: 1rem;
        li {
            display: flex;
            h4 {
                width: 30%;
            }
        }
    }
    .order_info {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        height: 60%;
    }
    .total {
        padding: 1rem;
        li {
            display: flex;
            justify-content: space-between;
            color: #000;
            font-weight: bold;
            font-size: 1rem;
            padding: 0.25rem 0;
        }
        .checkout {
            display: flex;
            .btn {
                width: 100%;
            }
        }
    }
}

.pages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    span {
        @include shadow_b;
        @include animation;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        // border: 1px solid $color_light;
        margin: 0.25rem;
        border-radius: 100%;
        background: #fff;
        &.active,&:hover {
            background: $color_default;
            color: #fff;
        }
    }
}