
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="display: flex">
<img src="logo.png" class="layorder">
</div>
<style>
    .box.box-primary {
        border-top-color: aliceblue;
    }
    .layorder {
        width: 60%;
        margin: auto;
    }
</style>