@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700);
@import "reset";
@import "variables";
@import "bootstrap-grid.min";
@import "icon/iconfont";
@import "popup";
@import "form";
@import "datepicker.min";
.swal2-title {
  font-size: 1.2rem!important;
}
.time-picker input {
  border-radius: 5px!important;
}
.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../img/full_img.png);
  background-size: cover;
  @include desktop-sm {
    @include bg_paper;
    flex-direction: column;
    align-items: center;
  }
  &.login {
    background-image: url(../img/full_img.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-bottom: 100px;
    .login_content {
      max-width: 400px;
      background: #fff;
      border-radius: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    footer {
      background-color: #fff;
      ul {
        background-color: #fff;
      }
    }
    @include desktop-sm {
      padding: 50px 20px;
      footer {
        max-width: 400px;
        background-size: 30% auto;
      }
      .content img {
        display: none;
      }
    }
  }
}

header {
  text-align: center;
  padding: 1rem;
  position: relative;

  .icon {
    @include icon_btn;
    position: absolute;
    left: 1rem;
    top: 28%;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
    background: #fff;
  }

  h1 {
    font-size: 1.4rem;
    margin: 0;
    color: #434343;
    letter-spacing: 2px;
  }

  img {
    height: 30px;
    vertical-align: middle;
  }

  @include desktop-sm {
    margin: 1rem 1rem 3rem 1rem;
    border-radius: 10px;
    background: $color_default;
    padding: 1.5rem;

    h1 {
      color: #fff;
    }
    img {
      height: 40px;
    }
  }
}

.main {
  @include shadow;
  max-width: 576px;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 80px;
  background-image: url(../img/title_circle.jpg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #fff;

  .content {
    padding: 15px;
    padding-top: 0;
  }

  .open_notice {
    background: $color_red;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    margin: 0.75rem 0.75rem 0 0.75rem;
    font-weight: bold;
    left: 1px;
    @include desktop-sm {
      margin: 0.75rem;
    }
  }

  ul.nav_group {
    @include shadow_b;
    display: flex;
    background: #fff;
    border-radius: 30px;
    padding: 10px 0;
    text-align: center;

    li {
      width: 100%;

      &:first-child {
        border-right: 1px solid $color_light;
      }

      a {
        @include animation;
        display: block;
        width: 100%;
        color: $color_light;

        &.active,
        &:hover {
          color: $color_default;
          font-weight: bold;
        }
      }
    }
  }

  @include desktop-sm {
    max-width: 960px;
    padding-bottom: 0;
    margin-bottom: 0;
    background: #fff;

    header img {
      display: none;
    }
  }
}

// 登入
.login {
  padding: 50px 20px;
  align-items: center;

  .content {
    text-align: center;

    img {
      width: 50%;
      margin: 2rem;
    }
  }

  @include desktop-sm {
    @include bg_full;

    .content {
      img {
        width: 50%;
      }
    }
  }
}

// 會員
@include desktop-sm {
  .member.main header {
    display: none;
  }
}

// 優惠券
.card_list {
  .item {
    @include shadow_blue;
    padding: 0.75rem 1.75rem;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: justify;

    h2 {
      color: #000;
      font-size: 1.2rem;
      margin-bottom: 0.35rem;
    }
  }
}

// 首頁
.swiper_nav {
  text-align: center;
  margin-bottom: 0.5rem;

  .swiper-slide {
    padding: 0.75rem 0 0.75rem 0;
    a {
      color: rgba(155, 155, 155, 0.8);
    }
    &-active {
      color: #000;
      font-weight: bold;
      position: relative;
      a {
        color: #000;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 30%;
        height: 3px;
        border-radius: 2px;
        background: $color_default;
      }
    }
  }
}

.swiper_banner img {
  width: 100%;
}

.swiper-pagination-bullet {
  background: $color_default;
  opacity: 1;

  &-active {
    width: 1rem;
    border-radius: 10px;
  }
}

.product_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .item {
    @include shadow_b;

    margin: 0.25rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    .p_image {
      height: 130px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      @include desktop-sm {
        height: 180px;
      }
    }
    .p_info {
      padding: 0.75rem;

      h3 {
        color: #4a4a4a;
        margin: 0 0 0.3rem 0;
        font-weight: bold;
      }

      p {
        margin: 0;
        color: $color_default;
        font-weight: bold;
        font-family: $font_price;
      }
    }
  }
}

// footer
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fcfcfc;
  text-align: center;
  z-index: 9;

  .nav_logo {
    display: none;
    img {
      height: 60px;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  &.fixed_bottom {
    @include shadow;
    padding: 1rem 0.7rem;

    @include desktop-sm {
      box-shadow: none;
      background: transparent;
    }
  }

  ul {
    display: flex;

    li {
      position: relative;
      width: 25%;

      .label {
        font-family: $font_price;
        position: absolute;
        right: 23%;
        top: 8%;
        color: #fff;
        background: $color_default;
        border-radius: 100%;
        height: 1.1rem;
        width: 1.1rem;
        text-align: center;
        line-height: 1.1rem;
        z-index: 9;
        font-weight: bold;
      }

      a {
        @include animation;
        display: block;
        padding: 1em;
        color: #979999;
        font-size: 0.6rem;

        p {
          margin-bottom: 0;
        }

        img {
          width: 2rem;
          filter: brightness(0.4);
          opacity: 0.5;
        }
      }
      &.active,
      &:hover {
        a,
        p {
          color: $color_default;
          font-weight: bold;
        }

        img {
          filter: brightness(1);
          opacity: 1;
        }
      }
      &.forhere {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          background: $color_default;
          padding: 0.25rem 0.75rem;
          border-radius: 8px;
          pointer-events: none;
          cursor: default;
          p {
            color: #fff;
          }
          h3 {
            font-family: "'Ubuntu', sans-serif";
            color: #fff;
            font-size: 2rem;
            line-height: 1;
            font-weight: bold;
          }
        }
      }
    }
  }

  @include desktop-sm {
    position: static;
    background-image: url("../img/title_circle.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 60%;
    max-width: 960px;
    display: block;

    .nav_logo {
      display: block;
    }

    ul {
      margin: 0 auto;
      // li a {
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     img {
      //         width: 1.3rem;
      //     }
      //     p {
      //         font-size: 1rem;
      //         padding-left: 0.2rem;
      //     }
      // }
    }
  }
}

.result {
  position: relative;

  img {
    width: 100%;
  }

  .number {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 48%;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    width: 100%;

    @include desktop-sm {
      top: 55%;
    }

    &.out {
    }

    &.in {
      background-image: url(../img/talk.svg);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 130px;
      font-size: 3rem;
      padding-top: 1rem;
      top: 0;
    }
  }
}

.status_list {
  .item {
    padding: 0.5rem;
  }

  .p_status {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: $color_default;
    position: relative;
    overflow: hidden;

    h4 {
      position: relative;
      color: #fff;
      font-weight: bold;
    }

    @include desktop-sm {
      width: 45%;
    }
    @include desktop-md {
      width: 30%;
    }
  }

  .p_date {
    h3 {
      margin: 0;
      font-size: 0.9rem;
      span {
        font-family: $font_en;
      }
    }
  }

  .p_price {
    font-size: 1.2rem;
    color: $color_default;
    font-weight: bold;
    font-family: $font_price;
  }

  .icon_right {
    align-self: center;
    font-size: 1.5rem;
    color: #bbb;
    margin-right: 0.5rem;
  }
  @include desktop-sm {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        width: 49%;
      }
    }
  }
}

.list_sm {
  .item {
    display: flex;
    padding: 0.5rem;
  }

  .p_price {
    margin: auto 1rem auto auto;
    font-size: 1.2rem;
    color: $color_default;
    font-weight: bold;
  }
}

.order_list {
  @include shadow;
  border-radius: 15px;
  padding: 0.5rem 0.75rem;
  background: #fff;

  .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding: 0.75rem 0;
    align-items: center;

    h4 {
      margin: 0;
      white-space: nowrap;
    }

    input {
      border: 0;
      text-align: right;
      width: 100%;
      font-size: 1rem;
    }

    &:last-child {
      border: 0;
    }

    .form-check {
      width: 100%;
      text-align: right;
      display: flex;
      white-space: nowrap;
      justify-content: flex-end;

      input {
        width: auto;
        margin-right: 0.25rem;
      }
    }
  }

  .total {
    border-bottom: 4px solid #f1f1f1;

    span {
      font-size: 1.4rem;
      color: $color_red;
      font-weight: bold;
    }
  }
  @include desktop-md {
    width: 60%;
    margin: 0 auto;
  }
}
.cart_list {
  width: 100%;
  @include desktop-md {
    width: 60%;
    margin: 0 auto;
  }
}
