@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700);
@import "reset";
@import "variables";
@import "bootstrap-grid.min";
@import "icon/iconfont";
@import "form";

p {
  margin-bottom: 0;
}
.grecaptcha-badge {
  display: none;
}
.num {
  font-family: "Roboto Mono", monospace;
}

.main {
  display: flex;
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  min-width: 980px;
}

.menu {
  background: $color_default;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  align-items: center;
  padding: 2rem 0;

  a.menu_btn {
    @include animation;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    display: block;
    margin-bottom: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    font-weight: bold;
    padding: 0.75rem 0;
    writing-mode: vertical-rl;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;

    h3 {
      margin: 10px auto 0 auto;
      color: #fff;
    }

    img {
      margin: 0 auto;
      height: 20px;
      filter: brightness(2);
    }

    &.active,
    &:hover {
      background: #fff;
      color: $color_default;

      h3 {
        color: $color_default;
      }

      img {
        filter: none;
      }
    }
  }
  .menu_sm,
  .menu_lg {
    width: 100%;
  }
  .menu_sm h3 {
    width: 100%;
    text-align: center;
  }
  .menu_lg {
    margin: auto;
  }
  .menu_sm {
    a.menu_btn {
      font-size: 0.5rem;
      writing-mode: horizontal-tb;
      letter-spacing: 0;
      h3 {
        margin-top: 5px;
      }
    }
  }
}

.content {
  width: 65%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 0;

  .order {
    height: 100%;
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;

    .list {
      height: 90%;
    }

    .item {
      @include animation;
      display: inline-block;
      width: 32.333%;
      margin: 0.5%;
      position: relative;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: 0.5rem;
      bottom: 0;
      overflow: hidden;
      border: 3px solid rgba(255, 255, 255, 0);

      &:hover {
        bottom: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
      }

      .info {
        li {
          line-height: 1.3;
        }

        p {
          display: inline-block;
          font-weight: bold;
        }

        h3 {
          position: relative;
          font-weight: bold;
          color: #fff;
          border-bottom: 1px solid rgb(230, 230, 230);
          font-size: 1.2rem;
          background-color: $color_default;
          padding: 0.5rem 0.75rem;

          &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.3rem;
            padding-right: 1rem;
            font-family: "iconfont" !important;
          }
        }

        ul {
          padding: 0.75rem;
        }
      }

      //準備中
      &.prepare {
        .info h3 {
          background: $color_default;

          &::before {
            content: "\e621";
          }
        }
      }

      // 已完成
      &.done {
        .info h3 {
          background: $color_green;

          &::before {
            content: "\e629";
          }
        }
      }

      //待出餐
      &.ready,
      &.finish {
        .info h3 {
          background: $color_red;

          &::before {
            content: "\e696";
          }
        }
      }

      //已取消
      &.cancel {
        .info h3 {
          background: $color_light;

          &::before {
            content: "\e661";
          }
        }
      }

      //已結束
      &.paid {
        .info h3 {
          background: $color_light;

          &::before {
            content: "\e6c1";
          }
        }
      }

      // 邊線
      &.active {
        bottom: 0.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);

        &.prepare {
          border: 3px solid $color_default;
        }

        &.done {
          border: 3px solid $color_green;
        }

        &.ready,
        &.finish {
          border: 3px solid $color_red;
        }

        &.paid {
          border: 3px solid $color_light;
        }

        &.cancel {
          border: 3px solid $color_light;
        }
      }
    }

    .order_status {
      padding: 0.75rem;
      text-align: center;
      font-weight: bold;
      background: $color_default;
      color: #fff;
      border-radius: 0 0 10px 10px;
      letter-spacing: 2px;
    }
  }
}

.status {
  background: #fff;
  flex-shrink: 0;

  ul {
    display: flex;
    text-align: center;

    li {
      width: 100%;
      padding: 0.7rem;

      &.active {
        font-weight: bold;
      }
      &.all {
        color: #000;
        &.active {
          border-bottom: 2px solid #000;
        }
      }
      &.prepare {
        color: $color_default;
        &.active {
          border-bottom: 2px solid $color_default;
        }
      }
      &.ready,&.togo {
        color: $color_red;
        &.active {
          border-bottom: 2px solid $color_red;
        }
      }
      &.done {
        color: $color_green;
        &.active {
          border-bottom: 2px solid $color_green;
        }
      }
    }
  }
}

.detail {
  width: 35%;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .title {
    h2 {
      span {
        font-family: "Roboto Mono", monospace;
      }

      padding: 0.7rem;
      background: $color_default;
      color: #fff;
      text-align: center;
      font-weight: bold;
    }
  }

  .customer {
    padding: 0.75rem;
    position: relative;

    .all_done {
      @include animation;
      position: absolute;
      right: 1rem;
      bottom: 0;
      padding: 0.5rem 0.75rem;
      background: #fff;
      color: $color_default;
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px 10px 0 0;
      font-weight: bold;

      &:hover {
        padding-bottom: 1rem;
      }
    }

    li {
      display: flex;
      margin-bottom: 0.25rem;

      h4 {
        width: 30%;
        font-size: 0.9rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .order_info {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    height: 60%;
    padding: 0.25rem 0.75rem;
    overflow-y: scroll;
    position: relative;
    z-index: 9;

    .cart_list {
      .item {
        padding: 0.25rem 0.5rem;
        margin-bottom: 0.25rem;
        box-shadow: none;
        border-bottom: 1px solid #eee;
        align-items: center;

        &:last-child {
          border-bottom: 0;
        }

        .p_img {
          position: relative;
          width: 4rem;
          height: 4rem;
          flex-shrink: 0;
          overflow: hidden;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            display: flex;
            color: #fff;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-family: "iconfont" !important;
          }
        }

        &.ready {
          border: 1px solid $color_red;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

          .p_img {
            &::before {
              content: "\e696";
              background: rgba(247, 120, 120, 0.8);
            }
          }

          .p_info {
            .p_name h3 {
              color: $color_red;
            }
          }
        }

        &.done {
          .p_info {
            opacity: 0.5;
          }

          .p_img {
            &::before {
              content: "\e6c1";
              background: rgba(137, 188, 112, 0.8);
            }
          }
        }
        &.prepare {
          .p_img {
            &::before {
              content: "\E621";
              background: rgba(114, 188, 179, 0.8);
            }
          }
        }

        .p_price {
          align-self: center;
          font-size: 1rem;
          font-weight: bold;
          color: #000;
          padding-right: 0.5rem;
        }
      }

      .p_info {
        padding: 0.5rem;

        .p_name {
          font-size: 0.9rem;
          font-weight: bold;
        }

        .p_choose {
          font-size: 0.9rem;
        }
      }
    }
  }

  .total {
    padding: 0.75rem 1rem;

    ul {
      margin-bottom: 0.5rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      font-weight: bold;
      font-size: 1rem;
      padding: 0.15rem 0;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: 0;
      }

      p {
        margin-bottom: 0;
        font-size: 1.3rem;
      }
    }

    .checkout {
      display: flex;

      .btn {
        width: 100%;
        padding: 0.25rem 0;

        &.btn_gray {
          background: transparent;
          border: 2px solid $color_light;
          color: $color_light;
          width: 50%;
          font-size: 1.1rem;

          &:hover {
            background: $color_light;
            color: #fff;
          }
        }
      }
    }
  }
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;

  span {
    @include shadow_b;
    @include animation;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin: 0.25rem;
    border-radius: 100%;
    background: #fff;

    &.active,
    &:hover {
      background: $color_default;
      color: #fff;
    }

    &.none,
    &.active.none,
    &.none:hover {
      background: #fff;
      color: rgb(187, 187, 187);
      cursor: default;
      box-shadow: none;
      pointer-events: none;
    }
  }
}

// 廚房端
.kitchen {
  font-size: 16px;
}

#store .kitchen_list {
  display: flex;
  flex-direction: column;
  width: 100%;

  .order_list {
    display: flex;
    height: 100%;
    padding: 0.75rem;
    overflow: hidden;

    .item {
      display: flex;
      flex-direction: column;
      @include shadow;
      border-radius: 10px;
      width: 23%;
      margin-left: 1%;
      margin-right: 1%;
      background: #fff;

      .title {
        padding: 0.75rem 0.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: 2px solid #eee;
        padding-bottom: 0.5rem;

        h3 {
          color: $color_default;
          letter-spacing: 1px;
        }

        span {
          font-family: "Roboto Mono", monospace;
          color: #000;
        }
      }

      &.togo {
        .title h3 {
          color: $color_red;
        }
      }

      ul {
        overflow-y: auto;

        li {
          border-bottom: 1px solid #eaeaea;
          padding: 0.5rem 0.5rem 0.25rem 0.5rem;

          h4 {
            font-size: 1.1rem;
            color: #000;
            margin-bottom: 0.2rem;
          }

          .label {
            display: inline-block;
            background: $color_red;
            color: #fff;
            font-weight: bold;
            padding: 0.15rem 0.5rem;
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
            border-radius: 3px;
            font-size: 0.95rem;
          }

          &.done,
          &.ready {
            .label {
              background: $color_default;
            }
            opacity: 0.4;
          }
        }
      }

      .btn {
        margin-top: auto;
        border-radius: 0 0 10px 10px;
      }
    }
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 10%;
    flex-shrink: 0;
    font-size: 20px;
    .pages {
      margin: 0 auto;
      width: 90%;
      padding-left: 10%;
    }

    .thisTime {
      width: 10%;
      margin-left: auto;
      font-size: 1.2rem;
    }
  }
}

.login_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/full_img_sm.png);

  background-size: cover;
  background-position: center;
  text-align: center;
  img {
    width: 80%;
  }

  .form_content {
    @include shadow;
    max-width: 90%;
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
  }

  @include desktop-sm {
    background-image: url(../img/full_img.png);
  }
}
.cart_list {
  width: 100%;
  @include desktop-md {
    width: 100%;
    margin: 0 auto;
  }
}
